<div class="portfolio professional react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-5"
    aria-labelledby="react-tabs-4">
    <div class="title-section text-left text-sm-center aos-init aos-animate" data-aos="fade-up"
        data-aos-duration="1200">
        <h1>mi <span>portfolio</span></h1><span class="title-bg">trabajos</span>
    </div>
    <div class="container grid-gallery main-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200"
        data-aos-delay="100">
        <div class="react-tabs" data-rttabs="true">
            <ul class="portfolio-tab-list" role="tablist">
                <li class="react-tabs__tab react-tabs__tab--selected" role="tab" id="react-tabs-10" aria-selected="true"
                    aria-disabled="false" aria-controls="react-tabs-11" tabindex="0" data-rttab="true">ALL</li>
                <li class="react-tabs__tab" role="tab" id="react-tabs-12" aria-selected="false" aria-disabled="false"
                    aria-controls="react-tabs-13" data-rttab="true">Web</li>
                <li class="react-tabs__tab" role="tab" id="react-tabs-14" aria-selected="false" aria-disabled="false"
                    aria-controls="react-tabs-15" data-rttab="true">App Android</li>
            </ul>
            <div class="portfolio-tab-content">
                <div class="react-tabs__tab-panel react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-11"
                    aria-labelledby="react-tabs-10">
                    <ul class="row grid justify-content-center">
                        <li data-aos="fade-right" data-aos-duration="1200" data-aos-delay="0"
                            class="aos-init aos-animate">
                            <figure><img src="img/projects/project-1.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title">Mockup Project</span>
                                </div>
                            </figure>
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1200" data-aos-delay="100"
                            class="aos-init aos-animate">
                            <figure><img src="img/projects/project-2.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Youtube Project</span>
                                </div>
                            </figure>
                        </li>
                        <li data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200"
                            class="aos-init aos-animate">
                            <figure><img src="img/projects/project-3.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Slider Project</span>
                                </div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="0">
                            <figure class="direction-reveal__card"><img src="img/projects/project-4.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Local Video
                                        Project</span></div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="100">
                            <figure class="direction-reveal__card"><img src="img/projects/project-5.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Saas App Project</span>
                                </div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="200">
                            <figure class="direction-reveal__card"><img src="img/projects/project-6.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Mockup Project</span>
                                </div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="0">
                            <figure class="direction-reveal__card"><img src="img/projects/project-7.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Facebook Profile</span>
                                </div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="100">
                            <figure class="direction-reveal__card"><img src="img/projects/project-8.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Dribbble Profile</span>
                                </div>
                            </figure>
                        </li>
                        <li class="direction-reveal aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200"
                            data-aos-delay="200">
                            <figure class="direction-reveal__card"><img src="img/projects/project-9.jpg" alt="Portolio">
                                <div class=" hover-content-wrapper"><span class="content-title"> Behance Project</span>
                                </div>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-13" aria-labelledby="react-tabs-12">
                </div>
                <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-15" aria-labelledby="react-tabs-14">
                </div>
                <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-17" aria-labelledby="react-tabs-16">
                </div>
                <div class="react-tabs__tab-panel" role="tabpanel" id="react-tabs-19" aria-labelledby="react-tabs-18">
                </div>
            </div>
        </div>
    </div>
</div>