<div class="tab-panel_list">
    <div class="home  react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-1" aria-labelledby="react-tabs-0">
        <div class="container-fluid main-container container-home p-0 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
            <div class="color-block d-none d-lg-block"></div>
            <div class="row home-details-container align-items-center">
                <div class="col-lg-4 bg position-fixed d-none d-lg-block" style="background-image: url(&quot;img/hero/dark.jpg&quot;);"></div>
                <div class="col-12 col-lg-8 offset-lg-4 home-details  text-center text-lg-start">
                    <div>
                        <img src="img/hero/img-mobile.jpg" class="img-fluid main-img-mobile d-sm-block d-lg-none" alt="hero man">
                        <h1 class="text-uppercase poppins-font">Soy Jordi Turell.<span>fullstack</span></h1>
                        <p class="open-sans-font">Soy un programador web &amp; fullstack viviendo en la provincia de Barcelona &amp; centrado en crear experiencias limpias y fáciles de usar.
                        Me apasiona crear un software excelente que mejore la vida de quienes me rodean.</p>
                        <button [routerLink]="['/About']" class="button" style="cursor: none;">
                            <span class="button-text">Sobre mi</span>
                            <span class="button-icon fa fa-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about" role="tabpanel" id="react-tabs-3" aria-labelledby="react-tabs-2"></div>
    <div class="portfolio professional" role="tabpanel" id="react-tabs-5" aria-labelledby="react-tabs-4"></div>
    <div class="contact" role="tabpanel" id="react-tabs-7" aria-labelledby="react-tabs-6"></div>
    <div class="blog" role="tabpanel" id="react-tabs-9" aria-labelledby="react-tabs-8"></div>
</div>