<div class="contact react-tabs__tab-panel--selected" role="tabpanel" id="react-tabs-7" aria-labelledby="react-tabs-6">
    <div class="title-section text-left text-sm-center aos-init aos-animate" data-aos="fade-up"
        data-aos-duration="1200">
        <h1>Ponerse en <span>contacto</span></h1><span class="title-bg">contacto</span>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">No seais timid@s !</h3>
                <p class="open-sans-font mb-4">No dude en ponerse en contacto conmigo. Siempre estoy abierto a discutir nuevos proyectos, ideas creativas u oportunidades para ser parte de sus visiones.</p>
                <p class="open-sans-font custom-span-contact position-relative"><i
                        class="fa fa-map position-absolute"></i><span class="d-block">Dirección</span>Calle Montsia, número 5 2º 2ª, Terrassa ( 08227 ) Barcelona.</p>
                <p class="open-sans-font custom-span-contact position-relative"><i
                        class="fa fa-envelope-open position-absolute"></i><span class="d-block">Email</span> <a
                        href="mailto:steve@mail.com" style="cursor: none;"><p>info@jorditurell.com</p></a>
                <p class="open-sans-font custom-span-contact position-relative"><i
                        class="fa fa-phone-square position-absolute"></i><span class="d-block">Llamame</span> <a
                        href="Tel: +216 21 184 010" style="cursor: none;">661870473</a></p>
                <ul class="social list-unstyled pt-1 mb-5">
                    <li><a href="https://www.facebook.com/" target="_blank" rel="noreferrer" style="cursor: none;"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank" rel="noreferrer" style="cursor: none;"><i
                                class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" rel="noreferrer" style="cursor: none;"><i
                                class="fa fa-youtube"></i></a></li>
                    <li><a href="https://dribbble.com/" target="_blank" rel="noreferrer" style="cursor: none;"><i
                                class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-8">
                <form class="contactform">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group"><input name="name" type="text" placeholder="TU NOMBRE"
                                    style="cursor: none;"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group"><input name="email" type="email" placeholder="TU EMAIL"
                                    style="cursor: none;"></div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group"><input name="subject" type="text" placeholder="TU ASUNTO"
                                    style="cursor: none;"></div>
                        </div>
                        <div class="col-12">
                            <div class="form-group"><textarea name="message" placeholder="TU MENSAGE"
                                    style="cursor: none;"></textarea></div>
                        </div>
                        <div class="col-12"><button type="submit" class="button" style="cursor: none;"><span
                                    class="button-text">Enviar Mensage</span><span
                                    class="button-icon fa fa-send"></span></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>