<div class="yellow">
  <div class="react-tabs" data-rttabs="true">
    <div class="header">
      <ul class=" icon-menu  revealator-slideup revealator-once revealator-delay1" role="tablist">
        <li class="icon-box" role="tab" id="react-tabs-0" aria-selected="true" aria-disabled="false" aria-controls="react-tabs-1" tabindex="0" data-rttab="true">
          <a [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            <h2>Home</h2>
          </a>
        </li>
        <li class="icon-box" role="tab" id="react-tabs-2" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-3" data-rttab="true">
          <a [routerLink]="['/About']">
            <mat-icon>perm_identity</mat-icon>
            <h2>About</h2>
          </a>
        </li>
        <li class="icon-box" role="tab" id="react-tabs-4" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-5" data-rttab="true">
          <a [routerLink]="['/Portfolio']">
            <mat-icon>card_travel</mat-icon>
            <h2>Portfolio</h2>
          </a>
        </li>
        <li class="icon-box" role="tab" id="react-tabs-6" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-7" data-rttab="true">
          <a [routerLink]="['/Contact']">
            <mat-icon> chat</mat-icon>
            <h2>Contact</h2>
          </a>
        </li>
        <li class="icon-box" role="tab" id="react-tabs-8" aria-selected="false" aria-disabled="false" aria-controls="react-tabs-9" data-rttab="true">
          <a [routerLink]="['/Blog']">
            <mat-icon>note</mat-icon>
            <h2>Blog</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>